{
	// ### Enable global access to custom loggers ###
	// Edit this file to enable global custom loggers.
	// Include this file in your project's eslint config file with the `extend` keyword, e.g.:
	// extend: ["node_modules/logbookjs/.eslintrc"]

	"globals": {
		"_logConfig": "readonly",
		"_log": "readonly",
		"_debug": "readonly",
		"_info": "readonly",
		"_warn": "readonly",
		"_error": "readonly",
		"_group": "readonly",
		"_groupEnd": "readonly",

		"_L1": "readonly",
		"_L2": "readonly",
		"_L3": "readonly",
		"_L4": "readonly",
		"_yellow": "readonly",
		"_bigYellow": "readonly",
		"_red": "readonly",
		"_purple": "readonly",
		"_blue": "readonly"
	},
	"env": {
		"browser": true
	}
}
